.App {
  text-align: center;
}
body{
  padding : 0px ;
}
div{
  box-sizing: border-box;
}
.mainFooter{
  padding-top : 12px ;
  height : 55px ;
  background: #eee ;
}

@media screen and (max-width: 991px){
  .mainFooter{
      padding-top : 0px ;
      height: 100px ;
    }
}
.imgBox img {
  height : auto ;
  background-size: cover;
  padding : 10px ;
}